<app-header></app-header>
<div class="container custom-container">  
    <p class="text-secondary">Dear Sir,</p>
        <p class="text-secondary">Greetings from Samvedana Foundation, Ajara!</p>
        <p>An association of Alumni students from 35 high schools across Ajara tehsil covering more than 120 villages from southern part of Kolhapur, Maharashtra.</p>
        <p class="text-info">Samvedana is an ability to understand the pain of others…….!</p>
        <p>Samvedana Foundation is a blend of apolitical working professionals, entrepreneurs, teachers, government servants and students from Ajara who aspire to give back to the society. We understand the challenges that a rural student face to compete in modern world. We understand the pain of not being able to pursue career in sports or arts. We understand how it feels when crops doesn’t give the expected yield, and we understand the pain of not getting enough support on healthcare, farming and education. Samvedana has dedicated five teams which are working as follows,</p>
        <ul>
            <li class="text-muted fw-bold">Career Development</li>
            <li class="text-muted fw-bold">Sports</li>
            <li class="text-muted fw-bold">Arts</li>
            <li class="text-muted fw-bold">Education</li>
            <li class="text-muted fw-bold">Social Welfare</li>
        </ul>
        <p>Started with like-minded friends in 2015 and registered in 2017, Samvedana - with the power of social media, has grown by leaps and bounds over last couple of years. We have started a training Centre at Ajara. The whole idea of running this Samvedana Training Centre is to identify the hidden rural talent, assist those youngsters with soft skills and empower them to compete in today’s corporate world. We are seeking donations to fund the various initiatives of Samvedana such as extracurricular activities for students, library for competitive exams, workshops for skill development and promoting sports & arts.</p>
        <p class="text-success">On behalf of Samvedana Foundation, we thank you and your friends for supporting this cause. The bank details for donations are as follows,</p>
        <p class="text-dark">
            <strong>Account Name:</strong> Samvedana Foundation Ajara<br>
            <strong>Account Number:</strong> 50100215757341<br>
            <strong>Bank Name:</strong> HDFC Bank<br>
            <strong>Account Type:</strong> Savings<br>
            <strong>IFSC Code:</strong> HDFC0000447<br>
            <strong>Bank Address:</strong> Khadki, Pune – 411020<br>
        </p>
        <p class="text-muted text-center">(Note: Please don’t forget to write your name in remarks or in transfer description column)</p>

</div>
<app-footer></app-footer>
