<app-header></app-header>
<div class="container custom-container mt-5">
    <span>What we are doing</span>
    <h2>We Are In A Mission To Help The Helpless</h2>
    <!-- Carsouel -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/naturec.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/ruralschool.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/children.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- events -->

    <div class="row social-work">
        <div class="col-md-4 border events">
            <img src="assets/images/career.jpg" class="img-fluid" alt="Career Image">
        </div>
        <div class="col-md-8 border">
            <h3>Career Development</h3>
            <p>This section of Samvedana is, in fact, the sole reason of Samvedana's existence. Lots of talented
                students from rural India struggles when they come to cities and compete with the urban world. Lack of
                global exposure leads to weak communication and presentation. Lack of confidence kills the risk taking
                abilities, and in results, it limits the growth! This section of Samvedana is trying to empower students
                with soft skills and counselling from respective domain experts. A network of alumni students is
                building a bridge between rural and urban India, and helping youngsters to find right opportunities
                where they can compete and succeed. Career counselling through workshops, training programs and guest
                lectures are few of the key activities being done under this section. In long run, Samvedana aspire to
                work on creating the employment opportunities on local level itself. May it be via partnership with
                local entrepreneurs or by helping and assisting aspiring entrepreneurs to set up their businesses,
                Samvedana would do everything possible to improve the rural economy as well as lifestyle of people
                living in Ajara.</p>
        </div>
    </div>


</div>