.header {
    background-color: #fff;
    box-shadow: 0 4px 14px -6px gray;
}

.header .nav-item {
    color: #072366;
    font-weight: 600;
    padding-inline: 20px
}

.header .nav-link:hover {
    color: #20c997;
    cursor: pointer;
}

.header .donate-btn {
    background-color: #28a745;
    color: #fff;
    padding-inline: 30px;
    border-radius: 2px;
}

.header .donate-btn .nav-link {
    color: #fff;
}

.logo{
    height: 40px;
    margin-left: 20px;
}