.container .section-tittle {
    color: #09cc7f;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.container .custom-container .about{
    background-color: #f6fafd;
}
