<app-header></app-header>
<div class="container custom-container about">
    <h2 class="section-tittle">Welcome</h2>
        <p class="text-secondary">“Be the change that you wish to see in the world”. Samvedana Foundation is one such attempt to bring that magic-mantra in the livelihood of the people from a small place named Ajara, district Kolhapur, southern part of Maharashtra.</p>
        
        <p class="text-secondary">Samvedana Foundation is a blend of apolitical working professionals, entrepreneurs, teachers, government servants and students from Ajara who aspire to give back to the society.</p>
        
        <p class="text-secondary">We understand the pain of not being able to pursue career in sports or arts, we understand how it feels when crops doesn’t give the expected returns, and we understand the pain of not getting enough support on healthcare, farming and education. Samvedana is doing everything possible for the betterment of people from Ajara.</p>
        
        <h3 class="section-tittle">Our Vision and Mission</h3>
        <p class="text-secondary">Our vision and mission is to build a strong network of compassionate people where togetherness becomes a force to turn every dream into reality. Bridging the gap between villages and cities by bringing the best of both worlds to improve the livelihood of all sections of society.</p>
        
        <h3 class="section-tittle">Core Values</h3>
        <p class="text-secondary">Samvedana is based on four core values namely Compassion, Empathy, Co-creation, Motivation.</p>
        
        <h3 class="section-tittle">Dedicated Teams</h3>
        <p class="text-secondary">Samvedana has dedicated five teams namely Career Development, Sports, Arts, Education, Social Welfare working for needy people to improve their lives through better career, better health, sustainable livelihood, and life skills trainings.</p>
        
        <h3 class="section-tittle">Call for Donations</h3>
        <p class="text-secondary">We are seeking donations to fund the various initiatives of Samvedana such as extracurricular activities for students, library for competitive exams, workshops for skill development and promoting sports & arts.</p>
</div>
<app-footer></app-footer>