.custom-container {
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1); /* Adds shadow */
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px; /* Optional: adds rounded corners */
    background-color: #fff; /* Ensures the background is white */
    margin-bottom: 50px;
  }