<!-- Navigation Bar -->
 <app-header></app-header>
 <div class="container custom-container">
    <h4>Ajara, Kolhapur</h4>
    <p><strong>Address:</strong> Samvedana Foundation, 2nd floor, Harer Building, Subhash lane, Main Road, Ajara. Tal: Ajara Dist: Kolhapur</p>
    <p><strong>E-Mail:</strong> stpc.ajara@gmail.com</p>
    <p><strong>Contact Number:</strong> 02323 246929 / 9920777116</p>
    <hr>
    <h4>Mumbai</h4>
    <p><strong>Address:</strong> 205, Rukmini CHS Ltd, Plot No. 16/17, Sector- 12D, Koparkhairane, Navi Mumbai- 400709</p>
    <p><strong>E-Mail:</strong> stpc.ajara@gmail.com</p>
    <p><strong>Contact Number:</strong> +91 9004167894</p>
<hr>
    <h4>Pune</h4>
    <p><strong>Address:</strong> Twin Palm Soc., Flat No,A33, S.No.21/1D, Dange Chowk, Near Bhoir Estate, Thergaon, Pune- 411033</p>
    <p><strong>E-Mail:</strong> stpc.ajara@gmail.com</p>
    <p><strong>Contact Number:</strong> +91 9867951444</p>
  </div>
  <app-footer></app-footer>
